{{>header}}
        <div class="myBg">
          <img src="../img/mm.png">
        </div>
        <div class="mylist">
            <div class="row">
                <div class="col-sm-2 badge-primary badge-pill p-1 m-1">
                    <h5>Romantic</h5>
                </div>
                <div class="col-sm-2 badge-info badge-pill p-1 m-1">
                    <h5>Classsical</h5>
                </div>
                <div class="col-sm-2 badge-primary badge-pill p-1 m-1">
                    <h5>Dance music</h5>
                </div>
                <div class="col-sm-2 badge-info badge-pill p-1 m-1">
                    <h5>Sad Music</h5>
                </div>
                <div class="col-sm-2 badge-danger badge-pill p-1 m-1">
                    <h5>Sport Music</h5>
                </div>
                <div class="col-sm-1 badge-Warning badge-pill p-1 m-1">
                    <h5>Artist</h5>
                </div>
            </div>
            <div class="row m-1">
                <div class="col-sm-2 imm">
                    <img src="../img/khairiyat.webp" alt="" style="width:100%">
                    <!-- <iframe src="music/Tor Motoi .mp3" frameborder="badge-info"> this is a song</iframe> -->
                    <!-- <audio controls autoplay>
                     <source src="horse.ogg" type="audio/ogg">
                  </audio> -->
                    <div class="card-body">
                        <h6 class="card-title">khairiyat to puchho</h6>
                        <p class="card-text">Arijit singh,Chhichhore</p>
                        <button href="#" class="btn btn-primary"><span><i class="fa fa-play" onclick="playAudio()">Play</i> </span> <span><i class="fa fa-pause" onclick="pauseAudio()"> Pause </i></span></button>
                    </div>
                </div>
           
                <div class=" col-sm-2 imm">
                    <img src="../img/mere Mitba.webp" alt="" style="width:100%">
                    <!-- <iframe src="music/Tor Motoi .mp3" frameborder="badge-info"> this is a song</iframe> -->
                    <!-- <audio controls autoplay>
                     <source src="horse.ogg" type="audio/ogg">
                  </audio> -->
                    <div class="card-body">
                        <h6 class="card-title">Mere mitba mere geet</h6>
                        <p class="card-text">Mhd. Raffi ,Geet,1971</p>
                        <button href="#" class="btn btn-primary"><i class="fa fa-play" onclick="playAudio()">Play</i>  <i class="fa fa-pause" onclick="pauseAudio()"> Pause </i></button>
                    </div>
                </div>
                <div class=" col-sm-2 imm">
                    <img src="../img/Dance.jpg" alt="" style="width:100%">
                    <!-- <iframe src="music/Tor Motoi .mp3" frameborder="badge-info"> this is a song</iframe> -->
                    <!-- <audio controls autoplay>
                     <source src="horse.ogg" type="audio/ogg">
                  </audio> -->
                    <div class="card-body">
                        <h6 class="card-title">2022 party song</h6>
                        <p class="card-text">All mix mashup, celebration new year</p>
                        <button href="#" class="btn btn-primary"><i class="fa fa-play" onclick="playAudio()">Play</i>  <i class="fa fa-pause" onclick="pauseAudio()"> Pause </i></button>
                    </div>
                </div>
                <div class=" col-sm-2 imm">
                    <img src="../img/sad.jpg" alt="" style="width:100%">
                    <!-- <iframe src="music/Tor Motoi .mp3" frameborder="badge-info"> this is a song</iframe> -->
                    <!-- <audio controls autoplay>
                     <source src="horse.ogg" type="audio/ogg">
                  </audio> -->
                    <div class="card-body">
                        <h6 class="card-title">Bewafa tera masoom </h6>
                        <p class="card-text">Jubin Nautiyal,Album</p>
                        <button href="#" class="btn btn-primary"><i class="fa fa-play" onclick="playAudio()">Play</i>  <i class="fa fa-pause" onclick="pauseAudio()"> Pause </i></button>
                    </div>
                </div>
                <div class=" col-sm-2 imm">
                    <img src="../img/BGB.webp" alt="" style="width:100%">
                    <!-- <iframe src="music/Tor Motoi .mp3" frameborder="badge-info"> this is a song</iframe> -->
                    <!-- <audio controls autoplay>
                     <source src="horse.ogg" type="audio/ogg">
                  </audio> -->
                    <div class="card-body">
                        <h6 class="card-title">Tu bhagg Milkha</h6>
                        <p class="card-text">Bhagg Milkha Bhagg,2013,Siddharth mahadhaban</p>
                        <button href="#" class="btn btn-primary"><i class="fa fa-play" onclick="playAudio()">Play</i>  <i class="fa fa-pause" onclick="pauseAudio()"> Pause </i></button>
                    </div>
                </div>
                <div class=" col-sm-2 imm">
                    <img src="../img/jl.webp" alt="" style="width:100%">
                    <!-- <iframe src="music/Tor Motoi .mp3" frameborder="badge-info"> this is a song</iframe> -->
                    <!-- <audio controls autoplay>
                     <source src="horse.ogg" type="audio/ogg">
                  </audio> -->
                    <div class="card-body">
                        <h6 class="card-title">Jennifer Lopze</h6>
                        <p class="card-text">English singer, on the floor, 2011</p>
                        <button href="#" class="btn btn-primary"><i class="fa fa-play" onclick="playAudio()">Play</i>  <i class="fa fa-pause" onclick="pauseAudio()"> Pause </i></button>
                    </div>
                </div>            

            </div>
        </div>
              <audio id="musicPP" ">
                    <source src="../audio/Tor Motoi .mp3" type="audio/ogg">
                    <source src="../audio/Tor Motoi .mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                    </audio>
{{>footer}}