<html lang="en">
{{>headLink}}
<body>
      <div class="container-fluid">
        <div class="icon-bar menus">
            <a href="/"><i class="fa fa-home"><title>Music libary</title></i></a>
            <a href="/search"><i class="fa fa-search"><title>Search song here</title></i></a>
            <a href="/404"><i class="fa fa-envelope"><title>E-mail us</title></i></a>
            <a href="/download"><i class="fa fa-download"><title>Download</title></i></a>
            <a href="/about"><i class="fa fa-globe"><title>Abous us</title></i></a>
            <a href="/contact"><i class="fa fa-phone"><title>Contact us</title></i></a>
        </div>